.bordersPage{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.introSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 15%;
    background-color: #E6E6FA;
}

.intoSectionLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.boardsDisplay{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
}