.LeftSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14%;
    height: 90vh;
    border: 1px solid #DFE1E6;
    background-color: #E6E6FA;
}

.sidebarLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10%;
    border-bottom: 0.5px solid grey;
}

.sidebarHeading{
    margin-bottom: 0rem;
    margin-left: 1rem;
}

.sidebarInfo{
    margin-top: 1rem;
}

